*{

    padding: 0;
    margin: 0;    
    }
    
     header{
    
        background-color: #00c040;
        color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 28px 0; 
    }
    
    .cabeçalho{
    
        width: 100%;
        font-size: 28px;
    }
    
    .cabeçalho-lista-ilustração{
        
        display: inline;
        margin: 0 28px;
        font-size: 20px;
    }
    
    .imagem-agrinho{
    
        width: 12%;
    }
      